*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.main_container{
	width:auto;
	height:100vh;
	position:relative;

}

.picture{
	background-image:url('../image/paper.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
	filter:blur(5px);
}

.card_section{
    width: 300px;
    height: 500px;
    border: 2px solid;
    margin: 0 auto;
    position: absolute;
	z-index:1;
    top: 10pc;
    left: 38pc;
	
}
.image_section img{
	width:250px;
	height:200px;
	margin:25px;
} 
.content_section{
    padding:15px;
	line-height:1.5;
	color:white;
}
.content_section h2{
	margin:10px;
	border-bottom:2px solid black;

}
.content_section p{
	margin:2px;
	padding:10px;
}
.button_section{
	text-decoration:none;
	color:white;
	background-color:blue;
	padding:10px;
	margin:10px 25px;
	border-radius:5px;
}
.primary{
	border:none;
	background-color:#7979da;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
	
}
.secondary{
	border:none;
	background-color:#9b9bad;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
	
}
.success{
	border:none;
	background-color:#388e3c;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
	
}
.danger{
	border:none;
	background-color:#d56188;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
	
}
.warning{
	border:none;
	background-color:#ffee58;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
	
}
.info{
	border:none;
	background-color:#80deea;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
	
}
.light{
	border:none;
	background-color:transparent;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
}
.dark{
	border:none;
	background-color:#0e0e0f;
	color:white;
	width:100px;
	padding:10px;
	transition:05s;
	border-radius:5px;
	cursor:pointer;
	font-weight:bold;
	
}